<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SchoolManagmentSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginController1</display-name>
    <servlet-name>LoginController1</servlet-name>
    <servlet-class>com.learnersacademy.servlet.LoginController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController1</servlet-name>
    <url-pattern>/LoginController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.learnersacademy.servlet.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageSubject1</display-name>
    <servlet-name>ManageSubject1</servlet-name>
    <servlet-class>com.learnersacademy.servlet.ManageSubject1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSubject1</servlet-name>
    <url-pattern>/ManageSubject1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageClasses1</display-name>
    <servlet-name>ManageClasses1</servlet-name>
    <servlet-class>com.learnersacademy.servlet.ManageClasses1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageClasses1</servlet-name>
    <url-pattern>/ManageClasses1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTeacher1</display-name>
    <servlet-name>ManageTeacher1</servlet-name>
    <servlet-class>com.learnersacademy.servlet.ManageTeacher1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTeacher1</servlet-name>
    <url-pattern>/ManageTeacher1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageStudent1</display-name>
    <servlet-name>ManageStudent1</servlet-name>
    <servlet-class>com.learnersacademy.servlet.ManageStudent1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStudent1</servlet-name>
    <url-pattern>/ManageStudent1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClass1</display-name>
    <servlet-name>UpdateClass1</servlet-name>
    <servlet-class>com.learnersacademy.servlet.UpdateClass1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClass1</servlet-name>
    <url-pattern>/UpdateClass1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent1</display-name>
    <servlet-name>UpdateStudent1</servlet-name>
    <servlet-class>com.learnersacademy.servlet.UpdateStudent1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent1</servlet-name>
    <url-pattern>/UpdateStudent1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubject1</display-name>
    <servlet-name>UpdateSubject1</servlet-name>
    <servlet-class>com.learnersacademy.servlet.UpdateSubject1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubject1</servlet-name>
    <url-pattern>/UpdateSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacher1</display-name>
    <servlet-name>UpdateTeacher1</servlet-name>
    <servlet-class>com.learnersacademy.servlet.UpdateTeacher1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacher1</servlet-name>
    <url-pattern>/UpdateTeacher1</url-pattern>
  </servlet-mapping>
  </web-app>